{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,300italic,400italic,700italic&amp;subset=latin,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css">
		<title>404</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{%block description%}{%endblock description%}" />
    <meta name="keywords" content="{%block keywords%}{%endblock keywords%}">
		<link href='{% static '/css/style.css' %}' rel='stylesheet' type='text/css'>
		<link href='{% static '/css/popup.css' %}' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
	</head>
	<body>
		<div id="panel"></div>
		<div class="body">
			<div class="body_media"></div>

			<header class="topmenu-SECOND">
							<div class="container maxwidth-theme">
								<div class="top-row row visible-xs">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="info-text">
											<div class="phone">
												<i class="icon icon-phone"></i>
												+7 (921) 964-69-11								</div>
											<div class="skype hidden-xs">
												<i class="icon icon-skype"></i>
												your.skype.ru								</div>
											<div class="email">
												<i class="icon icon-envelope"></i>
												<a href="mailto:mypromalp@gmail.com">mypromalp@gmail.com</a>								</div>
										</div>
									</div>
								</div>
								<div class="logo-row row">
																<div class="col-md-4 col-sm-4">
											<div class="logo">
												<a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>								</div>
										</div>
										<div class="col-md-3 col-sm-3 hidden-xs">
											<div class="top-description">
												<p style="text-align: center;">Промышленный альпинизм<br>
			в Санкт-Петербурге</p>								</div>
										</div>
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="top-callback hidden-xs">
												
												<div class="phone pull-right hidden-xs">
													+7 (921) 964-69-11									</div>
											</div>
											<button class="btn btn-responsive-nav visible-xs" data-toggle="collapse" data-target=".nav-main-collapse">
												<i class="icon icon-bars"></i>
											</button>
										</div>
										</div>



<div class="line-row visible-xs"></div>

<div class="page404">
				<div class="row">
					<div class="col-md-7 hidden-xs hidden-sm">
						<div class="i404">404</div>
					</div>
					<div class="col-md-5 col-sm-12">
						<div class="t404">
							<div style="font-family:'Roboto Condensed', 'Open Sans', Arial, sans-serif;font-size:50px;line-height:50px;text-transform:uppercase;">Ошибка 404</div>
							<div style="font-size:18px;line-height:32px;color:#919aa3;">Страница не найдена</div>
							<div style="font-size:13px;margin:14px 0 34px;">Неправильно набран адрес или такой<br>страницы не существует</div>
							<a href="/" class="btn btn-default btn-lg">Перейти на главную</a>
													</div>
					</div>
				</div>
			</div>
</div>
</header>

<div role="main" class="main">
  <div class="container maxwidth-theme"></div>
</div>


</div>
	<footer id="footer">
			<div class="container maxwidth-theme">
				<div class="row">
					<div class="col-md-3 hidden-sm hidden-xs">
						<div class="copy">
							&copy; 2007-2018<br>
РАБОТЫНАВЫСОТЕ.рф<br>
Все права защищены! <br>
<br>
<a href="http://usefulme.net" target="_blank">modernized by UsefulMe</a>						</div>
					</div>
					<div class="col-md-9 col-sm-9">
						<div class="row">
							<div class="col-md-8">
								<div class="info">
									<div class="title">Контактная информация</div>
									<div class="address">
										<i class="icon icon-map-marker"></i>
										Санкт-Петербург, Лиговский пр., 10, офис 235									</div>
									<div class="phone">
										<i class="icon icon-phone"></i>
										+7 (921) 964-69-11									</div>
									<div class="email">
										<i class="icon icon-envelope"></i>
										<a href="mailto:mypromalp@gmail.com">mypromalp@gmail.com</a>									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="social">
									<div class="title">Оставайтесь на связи</div>
									<div class="social-icons">
	<ul>
									<li class="vk">
				<a href=" http://vk.com/rabotanavisote" target="_blank" title="Ссылка на страницу сайта в ВКонтакте">
					Ссылка на страницу сайта в ВКонтакте					<i class="icon icon-vk"></i>
					<i class="icon icon-vk hide"></i>
				</a>
			</li>
									<li class="lj">
				<a href="http://www.instagram.com/" target="_blank" title="Instagram">
				<i class="icon icon-instagram"></i>
				<i class="icon icon-instagram hide"></i>
			</li>
	</ul>
</div>								</div>
								<div id="bx-composite-banner" style="display: none"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 hidden-md hidden-lg">
						<div class="copy">
							&copy; 2007-2018<br>
РАБОТЫНАВЫСОТЕ.рф<br>
Все права защищены! <br>
<br>
<a href="http://stormweb.pro" target="_blank">Веб-студия Stormweb.PRO</a>						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>


		<script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
		<script src="{% static 'js/jquery.maskedinput.js' %}"></script>
		<script src="{% static 'js/page.js' %}"></script>

		<script type="text/javascript">
		$(document).ready(function() {
		  $('.callback').on('click', function(){
		    $('body').append('<div class="jqmOverlay" style="height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 2999; opacity: 0.5;"></div>');
		    $('.callback_frame').addClass('show');
		  });

		  $('.jqmClose').on('click', function() {
		    /* Скрыть окно, когда кликаем вне его области */
		    $('.callback_frame').removeClass('show');
		    $('.jqmOverlay').hide();
		  });

		  var boxWidth = 400;

		  function centerBox() {
		    var winWidth = $(window).width();
		    var winHeight = $(document).height();
		    var scrollPos = $(window).scrollTop();

		    var disWidth = (winWidth - boxWidth) / 2
		    var disHeight = scrollPos + 50;

		    $('.callback_frame').css({'width' : boxWidth+'px', 'left' : disWidth+'px', 'top' : disHeight+'px'});
		    $('.jqmOverlay').css({'width' : winWidth+'px', 'height' : winHeight+'px'});

		    return false;
		  };
		  $(window).resize(centerBox);
		  $(window).scroll(centerBox);
		  centerBox();
		});
		</script>
		<script type="text/javascript">
		$(function(){
		  $(".phone").mask("8(999) 999-9999");
		});
		</script>

	</body>
</html>
