
{% load staticfiles %}
<!DOCTYPE html>
<html class="  ">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,300italic,400italic,700italic&amp;subset=latin,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css">
		<title>{%block title%}Работы на высоте{%endblock title%}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{%block description%}{%endblock description%}" />
    <meta name="keywords" content="{%block keywords%}{%endblock keywords%}">
		<link href='{% static '/css/style.css' %}' rel='stylesheet' type='text/css'>
		<link href='{% static '/css/popup.css' %}' rel='stylesheet' type='text/css'>
		{% block extracss %}{%endblock extracss%}
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
		<link rel="canonical" href="{% block canonical %}{% endblock canonical %}"/>
	</head>
	<body>
		<div id="panel"></div>
		<div class="body">
			<div class="body_media"></div>

			<header class="topmenu-SECOND">
							<div class="container maxwidth-theme">
								<div class="top-row row visible-xs">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="info-text">
											<div class="phone">
												<i class="icon icon-phone"></i>
												+7 (921) 964-69-11								</div>
											<div class="skype hidden-xs">
												<i class="icon icon-skype"></i>
												your.skype.ru								</div>
											<div class="email">
												<i class="icon icon-envelope"></i>
												<a href="mailto:mypromalp@gmail.com">mypromalp@gmail.com</a>								</div>
										</div>
									</div>
								</div>
								<div class="logo-row row">
																<div class="col-md-4 col-sm-4">
											<div class="logo">
												<a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>								</div>
										</div>
										<div class="col-md-3 col-sm-3 hidden-xs">
											<div class="top-description">
											    {% if messages %}
                                                {% for message in messages %}
                                                <p id="p-hide" style="margin-bottom: 10px;margin-top: -27px;">{{ message }} <span id="hide" style="cursor:  pointer;font-size: 20px;font-weight:  bold;">x</span></p>
                                                {% endfor %}
                                                {% endif %}
												<p style="text-align: center;">Промышленный альпинизм<br>
			в Санкт-Петербурге</p>								</div>
										</div>
										<div class="col-md-5 col-sm-5 col-xs-12">
											<div class="top-callback hidden-xs">
												<div class="callback pull-right" data-event="jqm" data-param-id="26" data-name="callback">
													<i class="icon icon-phone"></i>
													<div>
														<span>Заказать звонок</span>
													</div>
												</div>
												<div class="phone pull-right hidden-xs">
													+7 (921) 964-69-11									</div>
											</div>
											<button class="btn btn-responsive-nav visible-xs" data-toggle="collapse" data-target=".nav-main-collapse">
												<i class="icon icon-bars"></i>
											</button>
										</div>
										</div>







{% block content %}{% endblock content %}

	</div>
{# callbackFoem #}
<noindex>
	<div class="callback_frame jqmWindow jqm-init" style="width: 400px; z-index: 3000; opacity: 1; display: none;">
		<span class="jqmClose top-close icon icon-times"></span>
		<div>
			<div class="form popup">
				<form action="" method="POST" id="callback">
					{% csrf_token %}
					<div class="form-header">
						<i class="icon icon-phone"></i>
						<div class="text">
							<div class="title">Обратный звонок</div>Представьтесь, мы вам перезвоним.</div>
						</div>
						<div class="form-body">
							<div class="row" data-sid="FIO">
								<div class="form-group">
									<div class="col-md-12">
										<label for="FIO">Имя:</label>
										<div class="input">
											<input type="text" name="name" id="id_name" maxlength="50" class="form-control"><i class="icon icon-user"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="row" data-sid="PHONE">
								<div class="form-group">
									<div class="col-md-12">
										<label for="PHONE">Телефон: <span class="required-star">*</span></label>
										<div class="input">
											<input type="text" name="tel" required id="id_tel" maxlength="15" class="form-control required phone"><i class="icon icon-phone"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-footer clearfix">
							<div class="pull-left required-fileds">
								<i class="star">*</i> - Обязательные поля
							</div>
							<div class="pull-right">
								<button class="btn btn-default" type="submit">Отправить</button><br>
								<input type="hidden" name="form_submit" value="Отправить">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
</noindex>
{# End callbackForm #}

		<script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
		<script src="{% static 'js/jquery.maskedinput.js' %}"></script>
		<script src="{% static 'js/page.js' %}"></script>

		<script type="text/javascript">
		$(document).ready(function() {
		  $('.callback').on('click', function(){
		    $('body').append('<div class="jqmOverlay" style="height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 2999; opacity: 0.5;"></div>');
		    $('.callback_frame').addClass('show');
		  });

		  $('.jqmClose').on('click', function() {
		    /* Скрыть окно, когда кликаем вне его области */
		    $('.callback_frame').removeClass('show');
		    $('.jqmOverlay').hide();
		  });

		  var boxWidth = 400;

		  function centerBox() {
		    var winWidth = $(window).width();
		    var winHeight = $(document).height();
		    var scrollPos = $(window).scrollTop();

		    var disWidth = (winWidth - boxWidth) / 2
		    var disHeight = scrollPos + 50;

		    $('.callback_frame').css({'width' : boxWidth+'px', 'left' : disWidth+'px', 'top' : disHeight+'px'});
		    $('.jqmOverlay').css({'width' : winWidth+'px', 'height' : winHeight+'px'});

		    return false;
		  };
		  $(window).resize(centerBox);
		  $(window).scroll(centerBox);
		  centerBox();
		});
		</script>
		<script type="text/javascript">
		$(function(){
		  $(".phone").mask("8(999) 999-9999");
		});
		</script>
		<script>
		    $("#hide").click(function(){
                $("#p-hide").hide();
            });
		</script>
    {% block extrajs %}{% endblock extrajs %}
	</body>
</html>
