{% extends "base.html" %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title %}{{main_page.title}}{% endblock title %}
{%block description%}{{main_page.description}}{%endblock description%}
{%block keywords%}{{main_page.keywords}}{%endblock keywords%}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock canonical %}

{%block content%}

<div class="menu-row row">
  <div class="col-md-12">
    <div class="nav-main-collapse collapse">
      <div class="menu-and-search">
        <nav class="mega-menu ">
          <div class="table-menu hidden-xs">
            <table>
              <tr>
                {% recursetree main_menu %}
                {% if node.visible_in_menu %}
									{% if node.menu_name == 'Главная' %}
                    <td {% if '/' == request.path  %}class="active"{% endif %}>
                      <div class="wrap"><a href="/" title="{{node.menu_name}}">{{node.menu_name}}</a></div>
                    </td>
  								{% else %}
		  					    {% if node.get_descendants %}
		  					    <td class="dropdown{% if node.get_absolute_url == request.path %} active{% endif %}">
											<div class="wrap">
												<a class="dropdown-toggle" href="{{node.get_absolute_url}}" title="{{ node.menu_name }}">{{ node.menu_name }} <i class="icon icon-angle-down"></i></a>
												<ul class="dropdown-menu">
													{% for child in node.get_descendants %}
														{% if child.visible_in_menu %}
															{% if child.level == 1 %}
																{% if child.get_descendants %}
																<li class="dropdown-submenu">
																	<a href="{{child.get_absolute_url}}" title="{{ child.menu_name }}">{{ child.menu_name }}</a>
																	<ul class="dropdown-menu">
																		{% for children in child.get_descendants %}
																			{% if children.visible_in_menu %}
																			<li><a href="{{children.get_absolute_url}}">{{ children.menu_name }}</a></li>
																			{% endif %}
																		{% endfor %}
																	</ul>
																</li>
																{% else %}
																<li><a href="{{child.get_absolute_url}}" title="{{ child.menu_name }}">{{ child.menu_name }}</a></li>
																{% endif %}
															{% endif %}
														{% endif %}
													{% endfor %}
												</ul>
											</div>
										</td>
										{% else %}
										<td {% if node.get_absolute_url == request.path %}class="active"{% endif %}>
											<div class="wrap">
												<a class="" href="{{node.get_absolute_url}}" title="{{node.menu_name}}">{{node.menu_name}}</a>
											</div>
										</td>
										{% endif %}
									{% endif %}
  						{% endif %}
              {% endrecursetree %}
						</tr>
            </table>
          </div>
          <ul class="nav nav-pills responsive-menu visible-xs" id="mainMenu">
          {% recursetree main_menu %}
					{% if node.visible_in_menu %}
						{% if node.get_descendants %}
						<li class="dropdown">
							<a class="dropdown-toggle" href="{{node.get_absolute_url}}" title="{{ node.menu_name }}">{{ node.menu_name }}<i class="icon icon-angle-down"></i></a>
	            <ul class="dropdown-menu">
								{% for child in node.get_descendants %}
								{% if child.level == 1 %}
									{% if child.get_descendants %}
									<li class="dropdown-submenu dropdown-toggle">
										<a class="dropdown-toggle" href="{{ child.get_absolute_url }}" title="{{ child.menu_name }}">{{ child.menu_name }}<i class="icon icon-angle-down"></i></a>
										<ul class="dropdown-menu">
											{% for ch in child.get_descendants %}
											<li class=" "><a href="{{ ch.get_absolute_url }}" title="{{ ch.menu_name }}">{{ ch.menu_name }}</a></li>
											{% endfor %}
										</ul>
									</li>
									{% else %}
									<li class=" "><a href="{{ child.get_absolute_url }}" title="{{ child.menu_name }}">{{ child.menu_name }}</a></li>
									{% endif %}
								{% endif %}
								{% endfor %}
	            </ul>
	          </li>
						{% else %}
							{% if node.menu_name == 'Главная' %}
							<li class="active">
								<a class="" href="/" title="{{ node.menu_name }}">{{ node.menu_name }}</a>
							</li>
							{% else %}
							<li class=" ">
								<a class="" href="{{node.get_absolute_url}}" title="{{ node.menu_name }}">{{ node.menu_name }}</a>
							</li>
							{% endif %}
						{% endif %}
					{% endif %}
          {% endrecursetree %}
					</ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="line-row visible-xs"></div>

<div class="banners">
  <div class="first">
    <div class="col-md-12 col-sm-12 big" >
      <div class="flexslider unstyled row" data-plugin-options='{"animation": "slide", "directionNav": true, "controlNav" :true, "animationLoop": true, "slideshow": true, "slideshowSpeed": 5000, "animationSpeed": 600, "counts": [1, 1, 1]}'>
        <ul class="slides items">
          {% for slide in main_slider %}
          <li class="col-md-12 col-sm-12 item">
            <a href="{% if slide.url %}{{slide.url}}{% endif %}">
              <div class="image" style="background:url('{{slide.image.url}}') center center / 750px 399px no-repeat scroll transparent;" data-background='{"width": 750, "height": 399}'></div>
              <div class="info">
                <div>
                  <h3>{{slide.title}}</h3>
                  <p>{{slide.text}}</p>
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="about row">
<div class="col-md-12 col-sm-12">
    <noindex>
<h2 class="underline">{% if main_page.header_h1 %}{{main_page.header_h1}}{% else %}{{main_page.menu_name}}{% endif %}</h2>
{% autoescape off %}{{main_page.content_up}}{% endautoescape %}
    </noindex>
</div>
</div>
</div>
</header>
<div role="main" class="main">
  <div class="container maxwidth-theme">
    <div class="row">
      <div class="col-md-12">
        <div class="news front">
          <h3 class="underline">Новости</h3>
          <a href="/kompaniya/novosti/" class="btn btn-default btn-xs wc"><i class="icon icon-angle-right"></i><span>Все новости</span></a>
          <div class="row items">
            {% for news in news_list %}
            <div class="item col-md-4 col-sm-6">
              {% if news.image %}
              <div class="image">
                <a href="{{news.get_absolute_url}}">
                  <img class="img-responsive" src="{{news.image.url}}" alt="{{news.header_h1}}" title="{{news.title}}" />
                </a>
              </div>
              {% endif %}
              <div class="info">
                <div class="date">{{news.date}}</div>
                <a href="{{news.get_absolute_url}}">
                  <div class="title">{{news.header_h1}}</div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="prefooter">
    <div class="container maxwidth-theme">
      <div class="front item-views table projects front-projects">
        <h3 class="underline">Выполненные проекты</h3>
        <h3 class="underline short">Проекты</h3>
        <a href="/proekty/" class="btn btn-default btn-xs wc"><i class="icon icon-bars"></i><span>Все проекты</span></a>
        <div class="row" style="margin-top: -5px;">
          <div class="flexslider unstyled row" data-plugin-options='{"animation": "slide", "directionNav": true, "controlNav" :false, "animationLoop": true, "slideshow": false, "counts": [3, 2, 1]}'>
            <ul class="slides items">
              {% for project in projects_list %}
              <li class="col-md-4 col-sm-6 item">
                <a href="{{project.get_absolute_url}}">
                  {% if project.image %}
                  <div class="image">
                    <img src="{{project.image.url}}" alt="{{project.menu_name}}" title="{{project.title}}" class="img-responsive" />
                  </div>
                  {% endif %}
                  <div class="info">
                    <div class="title">
                      <span>{{project.header_h1}}</span>
                    </div>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="partners front">
        <h3>Наши партнеры</h3>
        <h3 class="short">Партнеры</h3>
        
        <div class="flexslider unstyled row" data-plugin-options='{"animation": "slide", "directionNav": true, "controlNav" :true, "animationLoop": true, "slideshow": false, "counts": [5, 3, 1]}'>
          <ul class="slides items">
            <li class="col-md-2 col-sm-4 item">
              <a ><img class="img-responsive" src="{% static '/img/partners/hyundai.png' %}" alt="HYUNDAI" title="HYUNDAI" /></a>
            </li>
            <li class="col-md-2 col-sm-4 item">
              <a ><img class="img-responsive" src="{% static '/img/partners/arena.png' %}" alt="АРЕНА" title="АРЕНА" /></a>
            </li>
            <li class="col-md-2 col-sm-4 item">
              <a ><img class="img-responsive" src="{% static '/img/partners/beeline.png' %}" alt="БИЛАЙН" title="БИЛАЙН" /></a>
            </li>
            <li class="col-md-2 col-sm-4 item">
              <a ><img class="img-responsive" src="{% static '/img/partners/gazprom.png' %}" alt="Газпром" title="Газпром" /></a>
            </li>
            <li class="col-md-2 col-sm-4 item">
              <a ><img class="img-responsive" src="{% static '/img/partners/gdsk.png' %}" alt="ГДСК" title="ГДСК" /></a>
            </li>
            <li class="col-md-2 col-sm-4 item">
              <a ><img class="img-responsive" src="{% static '/img/partners/gm.png' %}" alt="ГМ" title="ГМ" /></a>
            </li>
            <li class="col-md-2 col-sm-4 item">
              <a ><img class="img-responsive" src="{% static '/img/partners/domina.png' %}" alt="ДОМИНА" title="ДОМИНА" /></a>
            </li>
            <li class="col-md-2 col-sm-4 item">
              <a ><img class="img-responsive" src="{% static '/img/partners/kapitoliy.png' %}" alt="КАПИТОЛИЙ" title="КАПИТОЛИЙ" /></a>
            </li>
            <li class="col-md-2 col-sm-4 item">
              <a ><img class="img-responsive" src="{% static '/img/partners/kir_zav.png' %}" alt="Кировский завод" title="Кировский завод" /></a>
            </li>
            <li class="col-md-2 col-sm-4 item">
              <a ><img class="img-responsive" src="{% static '/img/partners/kuz_plaza.png' %}" alt="Кунцево-плаза" title="Кунцево-плаза" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container maxwidth-theme">
    <div class="descr_text">
      {% autoescape off %}{{main_page.content_down}}{% endautoescape %}
    </div>
  </div>
</div>


</div>
</div>
</div>
	<footer id="footer">
			<div class="container maxwidth-theme">
				<div class="row">
          {% autoescape off %}{{footer_element.content}}{% endautoescape %}
        </div>
			</div>
	</footer>
{% endblock content%}
