{% extends "base.html" %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title %}{{page.title}}{% endblock title %}
{%block description%}{{page.description}}{%endblock description%}
{%block keywords%}{{page.keywords}}{%endblock keywords%}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock canonical %}
{% block header_h1 %}{{page.header_h1}}{% endblock header_h1 %}
{% block extracss %}
{% if page.question_form %}
<link href='{% static '/css/contact.css' %}' rel='stylesheet' type='text/css' >
{% endif %}
{%endblock extracss%}
{% block extrajs %}
{% if page.service_form %}
<script type="text/javascript">
$(document).ready(function() {
	$('.order-block span').on('click', function(){
		$('body').append('<div class="jqmOverlay" style="height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 2999; opacity: 0.5;"></div>');
		$('.order_services_frame').addClass('show');
	});

	$('.jqmClose').on('click', function() {
		/* Скрыть окно, когда кликаем вне его области */
		$('.order_services_frame').removeClass('show');
		$('.jqmOverlay').hide();
	});

	var boxWidth = 320;

	function centerBox() {

    /* определяем нужные данные */
    var winWidth = $(window).width();
    var winHeight = $(document).height();
    var scrollPos = $(window).scrollTop();

    /* Вычисляем позицию */

    var disWidth = (winWidth - boxWidth) / 2
    var disHeight = scrollPos + 50;

    /* Добавляем стили к блокам */
    $('.order_services_frame').css({'width' : boxWidth+'px', 'left' : disWidth+'px', 'top' : disHeight+'px'});
    $('.jqmOverlay').css({'width' : winWidth+'px', 'height' : winHeight+'px'});

    return false;
	};

	$(window).resize(centerBox);
	$(window).scroll(centerBox);
	centerBox();

});
</script>
{% endif %}
{% endblock extrajs %}

{%block content%}

<div class="menu-row row">
	<div class="col-md-12">
		<div class="nav-main-collapse collapse">
			<div class="menu-and-search">
				<nav class="mega-menu ">
					<div class="table-menu hidden-xs">
            <table>
              <tr>
                {% recursetree main_menu %}
                {% if node.visible_in_menu %}
									{% if node.menu_name == 'Главная' %}
                    <td {% if '/' == request.path  %}class="active"{% endif %}>
                      <div class="wrap"><a href="/" title="{{node.menu_name}}">{{node.menu_name}}</a></div>
                    </td>
  								{% else %}
		  					    {% if node.get_descendants %}
		  					    <td class="dropdown{% if node.get_absolute_url == request.path %} active{% endif %}">
											<div class="wrap">
												<a class="dropdown-toggle" href="{{node.get_absolute_url}}" title="{{ node.menu_name }}">{{ node.menu_name }} <i class="icon icon-angle-down"></i></a>
												<ul class="dropdown-menu">
													{% for child in node.get_descendants %}
														{% if child.visible_in_menu %}
															{% if child.level == 1 %}
																{% if child.get_descendants %}
																<li class="dropdown-submenu">
																	<a href="{{child.get_absolute_url}}" title="{{ child.menu_name }}">{{ child.menu_name }}</a>
																	<ul class="dropdown-menu">
																		{% for children in child.get_descendants %}
																			{% if children.visible_in_menu %}
																			<li><a href="{{children.get_absolute_url}}">{{ children.menu_name }}</a></li>
																			{% endif %}
																		{% endfor %}
																	</ul>
																</li>
																{% else %}
																<li><a href="{{child.get_absolute_url}}" title="{{ child.menu_name }}">{{ child.menu_name }}</a></li>
																{% endif %}
															{% endif %}
														{% endif %}
													{% endfor %}
												</ul>
											</div>
										</td>
										{% else %}
										<td {% if node.get_absolute_url == request.path %}class="active"{% endif %}>
											<div class="wrap">
												<a class="" href="{{node.get_absolute_url}}" title="{{node.menu_name}}">{{node.menu_name}}</a>
											</div>
										</td>
										{% endif %}
									{% endif %}
  						{% endif %}
              {% endrecursetree %}
						</tr>
					</table>
          </div>
          <ul class="nav nav-pills responsive-menu visible-xs" id="mainMenu">
          {% recursetree main_menu %}
					{% if node.visible_in_menu %}
						{% if node.get_descendants %}
						<li class="dropdown {% if node.get_absolute_url == request.path %}active{% endif %}">
							<a class="dropdown-toggle" href="{{node.get_absolute_url}}" title="{{ node.menu_name }}">{{ node.menu_name }}<i class="icon icon-angle-down"></i></a>
	            <ul class="dropdown-menu">
								{% for child in node.get_descendants %}
								{% if child.level == 1 %}
									{% if child.get_descendants %}
									<li class="dropdown-submenu dropdown-toggle">
										<a class="dropdown-toggle" href="{{ child.get_absolute_url }}" title="{{ child.menu_name }}">{{ child.menu_name }}<i class="icon icon-angle-down"></i></a>
										<ul class="dropdown-menu">
											{% for ch in child.get_descendants %}
											<li class=" "><a href="{{ ch.get_absolute_url }}" title="{{ ch.menu_name }}">{{ ch.menu_name }}</a></li>
											{% endfor %}
										</ul>
									</li>
									{% else %}
									<li class=" "><a href="{{ child.get_absolute_url }}" title="{{ child.menu_name }}">{{ child.menu_name }}</a></li>
									{% endif %}
								{% endif %}
								{% endfor %}
	            </ul>
	          </li>
						{% else %}
							{% if node.menu_name == 'Главная' %}
							<li class=" ">
								<a class="{% if node.get_absolute_url == request.path %}active{% endif %}" href="/" title="{{ node.menu_name }}">{{ node.menu_name }}</a>
							</li>
							{% else %}
							<li class=" ">
								<a class="{% if node.get_absolute_url == request.path %}active{% endif %}" href="{{node.get_absolute_url}}" title="{{ node.menu_name }}">{{ node.menu_name }}</a>
							</li>
							{% endif %}
						{% endif %}
					{% endif %}
          {% endrecursetree %}
					</ul>

				</nav>
			</div>
		</div>
	</div>
</div>
<div class="line-row visible-xs"></div>

<section class="page-top">
	<div class="row">
		<div class="col-md-12"><h1>{{page.header_h1}}</h1></div>
	</div>
	<div class="row">
		<div class="col-md-12">
      <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          {% for parent in page.get_ancestors %}
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                  <a itemprop="item" href="{{ parent.get_absolute_url }}"><span itemprop="name">
								{% if parent.bread_name == None %}{{ parent.menu_name }}
								{% else %}{{ parent.bread_name }}{% endif %}</span></a>
								</li>
          {% endfor %}
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active"><span itemprop="name">{% if page.bread_name == None %}
						{{ page.menu_name }}{% else %}{{page.bread_name}}{% endif %}</span></li>
      </ul>

		</div>
	</div>
</section>

</div>
</header>

<div role="main" class="main">
  <div class="container maxwidth-theme">
<div class="row">
	{% if not page.visible_in_sidebar %}

	<div class="col-md-9 col-sm-12 col-xs-12">
    {% autoescape off %}{{page.content_up}}{% endautoescape %}
    <div class="item-views list image_left services">
      {# request page as filter for child page #}
      {% if child_pages %}
      <div class="group-content">
        {% for child in child_pages %}
        <div class="item">
					<div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              {% if child.image %}
              <div class="image">
                <a href="{{child.get_absolute_url}}">
                  <img src="{{child.image.url}}" alt="Очистка кровли от снега" title="Очистка кровли от снега" class="img-responsive"></a>
							</div>
              {% endif %}
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="text">
                <div class="title"><a href="{{child.get_absolute_url}}">{{child.header_h1}}</a></div>
                {% if child.tag == 'news' %}<div class="period"><span class="label">{{child.date}}</span></div>{% endif %}
                <p>{{child.preview}}</p>
                <a href="{{child.get_absolute_url}}" class="btn btn-default btn-xs wc"><i class="icon icon-angle-right"></i><span>Подробнее</span></a>
							</div>
            </div>
          </div>
				</div>
				<hr>
        {% endfor %}
      </div>
      {% endif %}
      <div class="cat-desc">
        {% autoescape off %}{{page.content_down}}{% endautoescape %}
				{% for block in blocks %}
					{% autoescape off %}{{block.content}}{% endautoescape %}
				{% endfor %}
      </div>
		</div>
		{# ServiceForm #}
		{% if page.service_form %}
		<div class="order-block">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-5 valign">
					<span class="btn btn-default wc"><i class="icon icon-check "></i><span>Заказать услугу</span></span>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-7 valign">
					<div class="right">Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим на все интересующие вопросы.</div>
				</div>
			</div>
		</div>
		{% endif %}
		{# QForm #}
		{% if page.question_form %}
		<div class="row">
			<div class="col-md-12">
				<div class="styled-block">
					<div class="form contacts">
						<form action="" method="POST" >
							{% csrf_token %}
							<div class="row">
								<div class="col-md-4">
									<div class="title">
										{% if page.question_form_title %}
										{{page.question_form_title}}
										{% else %}Задать вопрос{% endif %}</div>
									{{page.question_form_text}}
								</div>
								<div class="col-md-4">
									<div class="row" data-sid="NAME">
										<div class="form-group">
											<div class="col-md-12">
												<label for="NAME">Ваше имя:</label>
												<div class="input">
													<input type="text" name="name" id="id_name" maxlength="50" class="form-control"><i class="icon icon-user"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="row" data-sid="PHONE">
										<div class="form-group">
											<div class="col-md-12">
												<label for="PHONE">Телефон: <span class="required-star">*</span></label>
												<div class="input">
													<input type="text" name="tel" required id="id_tel" maxlength="15" class="form-control required phone"><i class="icon icon-phone"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="row" data-sid="EMAIL">
										<div class="form-group">
											<div class="col-md-12">
												<label for="EMAIL">E-mail: </label>
												<div class="input">
													<input type="email" name="mail" id="id_mail" class="form-control" value=""><i class="icon icon-envelope"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row" data-sid="MESSAGE">
										<div class="form-group">
											<div class="col-md-12">
												<label for="MESSAGE">Сообщение:</label>
												<div class="input">
													<textarea name="message" id="id_message" maxlength="360" class="form-control"></textarea><i class="icon 41"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="pull-right">
										<button class="btn btn-default" type="submit">Отправить</button><br><input type="hidden" name="form_submit" value="Отправить">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{# End QForm #}
		

</div>

	{% else %}


  <div class="col-md-3 left-menu-md hidden-xs hidden-sm">
    <aside class="sidebar">
      {# sidebar menu #}
			<ul class="nav nav-list side-menu">
				{% if page.visible_in_sidebar %}

					{% if page.level == 2 %}
						{% for parent in page.get_ancestors %}

							{% if parent.level == 0 %}
							{% for children in parent.get_descendants %}
								{% if children.level == 1 %}

									{% for child in children.get_descendants %}
										{% if child.get_absolute_url == request.path %}
											{% for c_parent in child.get_ancestors %}
												{% if c_parent.level == 1 %}
												<li class="child active">
													<a href="{{ c_parent.get_absolute_url }}">{{ c_parent.sidebar_name }}</a>
												</li>
												<ul class="submenu">
													{% for c_p_c in c_parent.get_descendants %}
														{% if c_p_c.get_absolute_url == request.path %}
														<li class="child active">
															<a href="{{ c_p_c.get_absolute_url }}">{{ c_p_c.sidebar_name }}</a>
														</li>
														{% else %}
														<li class="child">
															<a href="{{ c_p_c.get_absolute_url }}">{{ c_p_c.sidebar_name }}</a>
														</li>
														{% endif %}
													{% endfor %}
												</ul>
												{% endif %}
											{% endfor %}

										{% endif %}
									{% endfor %}
										{% if not children.get_absolute_url in request.path %}
										<li class="child">
									    <a href="{{ children.get_absolute_url }}">{{ children.sidebar_name }}</a>
									  </li>
										{% endif %}

								{% endif %}
							{% endfor %}
							{% endif %}

						{% endfor %}
					{% else %}
						{% for parent in page.get_ancestors %}
							{% for children in parent.get_descendants %}
								{% if children.level == 1 %}
									{% if children.get_descendants %}
										{% if children.get_absolute_url == request.path %}
										<li class="child active">
											<a href="{{ children.get_absolute_url }}">
												{{ children.sidebar_name }}
											</a>
										</li>
										<ul class="submenu">
											{% for child in page.get_descendants %}
												<li class="child">
													<a href="{{ child.get_absolute_url }}">{{ child.sidebar_name }}</a>
												</li>
											{% endfor %}
										</ul>
										{% else %}
										<li class="child">
											<a href="{{ children.get_absolute_url }}">
												{{ children.sidebar_name }}
											</a>
										</li>
										{% endif %}
									{% else %}
									<li class="child">
										<a href="{{ children.get_absolute_url }}">{{ children.sidebar_name }}</a>
									</li>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endfor %}
					{% endif %}

				{% else %}
					{% for child in page.get_descendants %}
						{% if child.level == 1 %}
						<li class="child">
							<a href="{{ child.get_absolute_url }}">{{ child.sidebar_name }}</a>
						</li>
						{% endif %}
					{% endfor %}

				{% endif %}
			</ul>

		</aside>
    <div class="sidearea">
      <div style="padding: 20px 5px;"></div><br>
    </div>
  </div>
  <div class="col-md-9 col-sm-12 col-xs-12">
    {% autoescape off %}{{page.content_up}}{% endautoescape %}
    <div class="item-views list image_left services">
      {# request page as filter for child page #}
      {% if child_pages %}
      <div class="group-content">
        {% for child in child_pages %}
        <div class="item">
					<div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              {% if child.image %}
              <div class="image">
                <a href="{{child.get_absolute_url}}">
                  <img src="{{child.image.url}}" alt="Очистка кровли от снега" title="Очистка кровли от снега" class="img-responsive"></a>
							</div>
              {% endif %}
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="text">
                <div class="title"><a href="{{child.get_absolute_url}}">{{child.header_h1}}</a></div>
                {% if child.tag == 'news' %}<div class="period"><span class="label">{{child.date}}</span></div>{% endif %}
                <p>{{child.preview}}</p>
                <a href="{{child.get_absolute_url}}" class="btn btn-default btn-xs wc"><i class="icon icon-angle-right"></i><span>Подробнее</span></a>
							</div>
            </div>
          </div>
				</div>
				<hr>
        {% endfor %}
      </div>
      {% endif %}
      <div class="cat-desc">
        {% autoescape off %}{{page.content_down}}{% endautoescape %}
				{% for block in blocks %}
					{% autoescape off %}{{block.content}}{% endautoescape %}
				{% endfor %}
      </div>
		</div>
		{# ServiceForm #}
		{% if page.service_form %}
		<div class="order-block">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-5 valign">
					<span class="btn btn-default wc"><i class="icon icon-check "></i><span>Заказать услугу</span></span>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-7 valign">
					<div class="right">Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим на все интересующие вопросы.</div>
				</div>
			</div>
		</div>
		{% endif %}
		{# QForm #}
		{% if page.question_form %}
		<div class="row">
			<div class="col-md-12">
				<div class="styled-block">
					<div class="form contacts">
						<form action="" method="POST" >
							{% csrf_token %}
							<div class="row">
								<div class="col-md-4">
									<div class="title">
										{% if page.question_form_title %}
										{{page.question_form_title}}
										{% else %}Задать вопрос{% endif %}</div>
									{{page.question_form_text}}
								</div>
								<div class="col-md-4">
									<div class="row" data-sid="NAME">
										<div class="form-group">
											<div class="col-md-12">
												<label for="NAME">Ваше имя:</label>
												<div class="input">
													<input type="text" name="name" id="id_name" maxlength="50" class="form-control"><i class="icon icon-user"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="row" data-sid="PHONE">
										<div class="form-group">
											<div class="col-md-12">
												<label for="PHONE">Телефон: <span class="required-star">*</span></label>
												<div class="input">
													<input type="text" name="tel" required id="id_tel" maxlength="15" class="form-control required phone"><i class="icon icon-phone"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="row" data-sid="EMAIL">
										<div class="form-group">
											<div class="col-md-12">
												<label for="EMAIL">E-mail: </label>
												<div class="input">
													<input type="email" name="mail" id="id_mail" class="form-control" value=""><i class="icon icon-envelope"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row" data-sid="MESSAGE">
										<div class="form-group">
											<div class="col-md-12">
												<label for="MESSAGE">Сообщение:</label>
												<div class="input">
													<textarea name="message" id="id_message" maxlength="360" class="form-control"></textarea><i class="icon 41"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="pull-right">
										<button class="btn btn-default" type="submit">Отправить</button><br><input type="hidden" name="form_submit" value="Отправить">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{# End QForm #}
		

</div>

	{% endif %}
</div>
</div>
{# popup #}
{% if page.service_form %}
<noindex>
<div class="order_services_frame jqmWindow jqm-init" style="width: 500px; z-index: 3000; display:none">
	<span class="jqmClose top-close icon icon-times"></span>
	<div>
		<div class="form popup">
			<form  action="" method="POST" >
				{% csrf_token %}
				<div class="form-header">
					<i class="icon icon-phone"></i>
					<div class="text">
						<div class="title">Заказать услугу</div>
						<p>{{page.menu_name}}</p>
					</div>
				</div>
				<div class="form-body">
					<div class="row" data-sid="NAME">
						<div class="form-group">
							<div class="col-md-12">
								<label for="NAME">Ваше имя: <span class="required-star">*</span></label>
								<div class="input">
									<input type="text" name="name" id="id_name" maxlength="50" class="form-control"><i class="icon 68"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="row" data-sid="PHONE">
						<div class="form-group">
							<div class="col-md-12">
								<label for="PHONE">Телефон: <span class="required-star">*</span></label>
								<div class="input">
									<input type="text" name="tel" required id="id_tel" maxlength="15" class="form-control required phone"><i class="icon 69"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="row" data-sid="SERVICE">
						<div class="form-group">
							<div class="col-md-12">
								<label for="SERVICE">Услуга: </label>
								<div class="input">
									<input type="text" id="id_service" name="service" class="form-control " value="{{page.menu_name}}" readonly="readonly" title="{{page.menu_name}}"><i class="icon 73"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="form-footer clearfix">
						<div class="pull-left required-fileds">
							<i class="star">*</i> - Обязательные поля</div>
							<div class="pull-right">
								<button class="btn btn-default" type="submit">Отправить</button><br>
								<input type="hidden" name="form_submit" value="Отправить">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
</div>
</noindex>
{# End ServiceForm #}
{% endif %}

</div>
</div>
</div>
	<footer id="footer">
			<div class="container maxwidth-theme">
				<div class="row">
          {% autoescape off %}{{footer_element.content}}{% endautoescape %}
        </div>
			</div>
	</footer>
{% endblock content%}
